<div id="footer-container" class="footer-main-box">
        <div id="inside-footer-container" class="centered-inner-container">
            <div id="follow-us-box" class="centered-box">
                <p>SÍGUENOS TAMBIÉN EN NUESTRAS REDES SOCIALES</p>
            </div> <!-- Todas las redes sociales existen y se puede interaccionar conmigo a través de ellas -->
            <div id="social-media-icons-box" class="social-media-container">
                <!-- ICONOS REDES SOCIALES EN TAbla -->
                <table id="social-media-display-table" class="smtable">
                    <tr>
                        <th> <!-- FACEBOOK -->
                            <a href="https://www.facebook.com/fury.fit.100" target="blank">
                                <img src="src/images/facebook-icon-ff.png" height="60px"
                                width="60px" />
    
                            </a>
                        </th>
                        <th> <!-- INSTAGRAM -->
                            <a href="https://www.instagram.com/furyfit.app/?hl=es" target="blank">
                                <img src="src/images/instagram-icon-ff.png" height="60px"
                                width="60px" />  
                            </a>
                        </th>
                        <th> <!-- TWITTER -->
                            <a href="https://twitter.com/FuryFit1" target="blank">
                                <img src="src/images/twitter-icon-ff.png" height="60px"
                                width="60px" />
                            </a>
                        </th>
                        <th> <!-- YOUTUBE -->
                            <a href="https://www.youtube.com/channel/UCqPC0ZcWzmbdoXOyUztdLXw" target="blank">
                                <img src="src/images/youtube-icon-ff.png" height="60px"
                                width="60px" />
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
            <div id="cpr-short-msg" class="mini-cpr-msg">
                <!-- Mensaje corto copyright -->
                <p>©Copyright 2019 - Todos los Derechos Reservados FuryFit®</p>
            </div>
        </div>
        <div class="copyright-bottom-box"> <!-- Caja oscura inferior -->
            <div id="message-box" class="message-cpr-box">
                <div id="message-container" class="middle-aligned">
                    <!-- Mensaje largo copyright (pequeña broma, se puede quitar si hace falta)-->
                    <p>©Copyright 2019 - Todos los Derechos Reservados FuryFit® - El uso o distribución del contenido de
                        la página no va a provocar nada.
                        Quería poner esto del copyright y aquí está, en realidad no sirve para nada. Gracias por visitar
                        este sitio.
                    </p>
                </div>
            </div>
        </div>
    </div>