<div class="menu-box">
        <table class="menu-table">
            <tr>
                <th class="image-cell">
                    <img src="src/images/furyfit-logo.png"
                        height="90px" width="90px" ng-click="menuCtrl.avtivateNewPage('home')" class="hand-cursor-home-logo"/>
                </th>
                <th class="inicio-cell">
                    <a class="routing-link">
                        <button ng-click="menuCtrl.avtivateNewPage('home')">INICIO</button>
                    </a>
                </th>
                <th class="nutri-cell">
                    <a class="routing-link">
                        <button ng-click="menuCtrl.avtivateNewPage('nutri')">NUTRICIÓN</button>
                    </a>
                </th>
                <th class="entrenamiento-cell">
                    <a class="routing-link">
                        <button ng-click="menuCtrl.avtivateNewPage('workout')">ENTRENAMIENTO</button>
                    </a>
                </th>
                <th class="macro-calc-cell">
                    <a class="routing-link">
                        <button ng-click="menuCtrl.avtivateNewPage('macros')">CALCULADORA DE MACROS</button>
                    </a>
                </th>
                <th class="entrenamiento-cell">
                    <a class="routing-link">
                        <button ng-click="menuCtrl.avtivateNewPage('contact')">CONTACTO</button>
                    </a>
                </th>
                <th class="inicio-cell">
                    <a class="routing-link">
                        <button ng-click="menuCtrl.avtivateNewPage('faq')">F.A.Q</button>
                    </a>
                </th>
                <th class="interest-cell">
                    <a class="routing-link">
                        <button ng-click="menuCtrl.avtivateNewPage('interest')">ENLACES DE INTERÉS</button>
                    </a>
                </th>
            </tr>
        </table>
    </div>