<div id="image-welcomepage-container" class="home-page-image-position">
  <img src="/src/images/forma_imagn_furyfit.png" height="500px" widrh="500px" />
</div>
<div class="motivating-words-box">
  <span class="words-message-body">Cuerpo.</span>
  <span class="words-message-mind">Mente.</span>
  <br />
  <span class="words-message-perseverance">Perseverancia.</span>
  <br />
  <div id="long-message-container" class="words-message-long-message">
    <span>Comienza el cambio, nunca es tarde, requerirá perseverancia.
      Sabemos</span>
    <br />
    <span>que puedes sacar tu mejor versión, la pregunta es ¿quieres
      alcanzarla?</span>
    <br />
    <span>Aprovecha este conocimiento, aprende y crece con nosotros. Fuerza!</span>
  </div>
  <div id="easy-login-access-button-container" class="button-container-style-welcomepage">
    <button class="fast-login-button" ng-click="homeCtrl.goToMacros()">Calcula tus macros</button>
  </div>
</div>
<div class="second-container-of-content">
  <div class="images-motiv-container">
    <table id="images-table" class="table-homep">
      <!-- Imágenes centradas con gradiente y mensajes debajo -->
      <tr>
        <td>
          <img src="https://drive.google.com/uc?export=view&id=1kAufrgnQGdHZ39KaGUkUzmt8lEtMGuqo" height="70px"
            width="70px" />
          <br />
          <span class="table-text">Salud</span>
        </td>
        <td>
          <img src="https://drive.google.com/uc?export=view&id=1XUvM8y3_NYI8m8_a7YCcA4YpfnoQLqJ-" height="70px"
            width="70px" />
          <br />
          <span class="table-text">Fuerza</span>
        </td>
      </tr>
      <tr>
        <td>
          <img src="https://drive.google.com/uc?export=view&id=10vdUxh9-OFMeXnsHaSDtKWILxAzK6zCH" height="70px"
            width="70px" />
          <br />
          <span class="table-text">Energía</span>
        </td>
        <td>
          <img src="https://drive.google.com/uc?export=view&id=1US2hmex6vyNKNDTsPNWld52l-8W2cMHy" height="70px"
            width="70px" />
          <br />
          <span class="table-text">Logros</span>
        </td>
      </tr>
    </table>
  </div>
</div>