<div id="main-faq-container" class="main-faq-table-container">
    <div class="message-faq-title-container">
        <span class="faq-title">Preguntas frecuentes</span>
    </div>

    <table class="faq-table-style" ng-repeat="faq in faqsCtrl.faqList">
        <tr>
            <td class="colored-faq-bottom-cell">
                <span class="faq-each-titles">{{faq.question}}</span> <!-- {{faq.question}} -->
                <br />
                <div style="margin-bottom: 20px; margin-top: 5px;">
                    <span class="faq-answer-text">{{faq.answer}}</span> <!-- {{faq.answer}} -->
                </div>
            </td>
        </tr>
        <tr>
            <td class="alternative-faq-cell"></td>
        </tr>
    </table>
</div>